.blog-content p {
  font-size: 1rem;
  color: var(--dark);
  margin-bottom: 8px;
}

.blog-content ul {
  font-size: 1rem;
  color: var(--dark);
  margin-bottom: 8px;
}

.blog-content p.para-xl {
  font-size: 1.125rem;
  font-weight: 700;
}

@media (min-width: 640px) {
  .blog-content p.para-xl {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .blog-content p.para-xl {
    font-size: 1.5rem;
  }
}

/* Headings */

.blog-content h1,
.blog-content h1 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark);

}

.blog-content h2,
.blog-content h2 a {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--dark);

}

.blog-content h3,
.blog-content h3 a {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--dark);
}

.blog-content h4,
.blog-content h4 a {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--dark);
}

.blog-content h5,
.blog-content h5 a {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--dark);
}

.blog-content h6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--dark);
}

/* Responsive headings */

@media (min-width: 640px) {

  .blog-content h1,
  .blog-content h1 a,
  .blog-content h2,
  .blog-content h2 a {
    font-size: 1.85rem;
  }

  .blog-content h3,
  .blog-content h3 a {
    font-size: 1.5rem;
  }

  .blog-content h4,
  .blog-content h4 a {
    font-size: 1.25rem;
  }

  .blog-content h5,
  .blog-content h5 a {
    font-size: 1.125rem;
  }

  .blog-content h6,
  .blog-content h6 a {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {

  .blog-content h1,
  .blog-content h1 a,
  .blog-content h2,
  .blog-content h2 a {
    font-size: 2.25rem;
  }

  .blog-content h3,
  .blog-content h3 a {
    font-size: 1.85rem;
  }

  .blog-content h4,
  .blog-content h4 a {
    font-size: 1.5rem;
  }

  .blog-content h5,
  .blog-content h5 a {
    font-size: 1.25rem;
  }

  .blog-content h6,
  .blog-content h6 a {
    font-size: 1.125rem;
  }
}

/* Lists */

.blog-content ul {
  font-size: 1rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}

.blog-content ol {
  font-size: 1rem;
  list-style-type: decimal;
  padding-left: 1.5rem;
}

/* Images */

.blog-content img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
}

/* Links */

.blog-content a {
  /* font-size: 1rem; */
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 2px;

}

/* Strong */

.blog-content strong {
  font-weight: 700;
}